* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    width: 60px;
    height: 250px;
    position: relative;
    background: #b1060f;
}

div::before {
    width: 60px;
    height:250px;
    position: absolute;
    content: '';
    left: 90px;
    background: #b1060f;
}

div::after {
    width: 175px;
    height: 20px;
    position: absolute;
    content: '';
    left: -15px;
    bottom: -10px;
    border-radius: 50%;
    background: #1a1a1a;
}

span {
    width: 60px;
    height:250px;
    position: absolute;
    left: 46px;
    transform: skew(20deg);
    box-shadow: 0 0 10px -4px;
    background-color: #e50913;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}